*.nii.gz
*.nii
*.zip
*.pkl
*.log
*.h5
*.ipynb
*.pyc
*.json
*.hdr
*.img
*.png
*.csv

.ipynb_checkpoints
.idea

output_evaluate/
output_predict/
output_train/
output_unet/
output_kfold/
output_cnn/
data/